<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>NGO Anderlecht - Details</title>
</head>
<body>
<nav>
    <a href="/">NGO</a>
    <a href="/new">New</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</nav>
<h1>Event details</h1>

<p th:text="${event.titel}"></p>
<p th:text="${event.organisatie}"></p>
<p th:text="${event.omschrijving}"></p>
<p th:text="${event.emailContact}"></p>

<footer class="text-center mt-5">
    <hr>
    <p>
        © 2026 NGO Anderlecht
    </p>
</footer>
</body>
</html>